@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

body{

    
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
  }
  
  
  .table-bg{
    border-radius: 15px 15px 15px 15px;
  }


  #estatisticas {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  span {
    font-weight: bold;
  }
  h1, h2 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  form {
    margin-top: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input, form textarea, form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 20 00px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  th,
  td {
    padding: 20px;
    text-align: left;
    text-align: center;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .edit-btn,
  .delete-btn {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin: 5px;
  }
  
  .edit-btn:hover,
  .delete-btn:hover {
    background-color: #555;
  }
  
  img {
    width: 80px;
    height: auto;
  }
  .accept-btn,
  .reject-btn {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin: 5px;
  }
  
  .accept-btn:hover,
  .reject-btn:hover {
    background-color: #555;
  }
  
  #usuarios {
    margin-bottom: 20px;
  }
  
  #perfil-usuario {
    display: none;
  }
  
  #perfil-usuario table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  #perfil-usuario table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  #perfil-usuario table tr:last-child td {
    border-bottom: none;
  }
  
  #btn-voltar {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #btn-voltar:hover {
    background-color: #0069d9;
  }
  
  .ms-0{
  
  }