@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');


* {
 
  font-family: "Quicksand", sans-serif;
}

body {
  background: linear-gradient(to bottom, #32cd32, #00bb00);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  
}


.container {
  display: flex;
  width: 50%;
  margin-top: 135px;
  margin-left: 50px;
  position: fixed;
}





.fa-eye{
  position: absolute;
  top: 25px;
  right: 5px;
  cursor: pointer;
  color: #000000;
  width: 25px;

}

#iconnome{
  position: absolute;
  top: 20px;
  right: 10px;
  color: #000000;
  width: 25px;
}

#iconemail{
  position: absolute;
  top: 20px;
  right: 10px;
  color: #000000;
  width: 25px;
  height: 20;
}
#icontel{
  position: absolute;
  top: 20px;
  right: 10px;
  color: #000000;
  width: 25px;
  height: 20;
}
#cpficon{
  position: absolute;
  top: 20px;
  right: 10px;
  color: #000000;
  width: 25px;
  
}


.fa-eye-slash{
  position: absolute;
  top: 25px;
  right: 5px;
  cursor: pointer;
  color: #000000;
  width: 25px;
}


  
  

  .card {
    background-color: #ffffff80;
    padding: 20px;
    border-radius: 9%;
    box-shadow: 3px 3px 1px 0px #000000;
    width: 400px;
    height: 600px;
    margin-top: 5%;
    margin-left: 25%;
    position: absolute;
  }
  
  h1{
    text-align: center;
    margin-bottom: 20px;
    color: #000000
  }
  
#img1{

  height: 65px;
  width: 65px;

}
#img2{

 width: 40%;
 height: 15%;
 margin-top: 10%;

  position: absolute;

  
}

.div1{
  margin-left: 50px;
  margin-top: 50px;
}


  .label-float input{
    width: 100%;
    padding: 5px 1px 1px 1px;
    display: inline-block;
    border: 0px;
    border-bottom: 2px solid #000000;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 17px;
    transition: all .3s ease-out;
    border-radius: 2px;
    margin-top: -50px;
    
  }
  
.letra{
  font-size: 17px;
}



  .label-float{
    position: relative;
    padding-top: 20px;
    margin-top: 15px;
    margin-bottom: 2px;
   
  }
  
  .label-float input:focus{
    border-bottom: 2px solid #000000;
  }
  
  .label-float label{
    color: #000000;
    position: absolute;
    top: -5px;
    left: 0px;
    transition: all .3s ease-out;
    margin-top: 12px;
    
  }
  
  .label-float input:focus + label,
  .label-float input:valid + label{
    font-size: 17px;
    margin-top: 7px;
    color: #000000
  }
  
  button{
    background-color: #000000;
    border-color: #000000;
    color: rgb(255, 255, 255);
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 20px 20px 20px 20px;
    width:150px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
  }
  

  .justify-center{
    display: flex;
    justify-content: center;
    
  }
  
  hr{
    margin-top: 15px;
    margin-bottom: -50px;
    width: 60%;
  }
 
  
  
  
  #msgSuccess{
    text-align: center;
    color: #3dad09;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }

  #icon{
    size: 20px;
  }

  p{
    color: #000000;
    font-size: 14pt;
    text-align: center;
    margin-top: 35px;
  }
  
  a{
    color: #101110;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
  }
  
  a:hover{
    color:  #535553;
  }

  .red-label {
    color: red;
  }
  