@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background: linear-gradient(to bottom, #32cd32, #00bb00);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
  
}

#iconnome{
  position: absolute;
  top: 20px;
  right: 10px;
  color: #000000;
  width: 25px;
}


.container {
  display: flex;
  width: 50%;
  margin-top: 135px;
  margin-left: 50px;
  position: fixed;
}

img{

height: 65px;
width: 65px; 
margin-top: 20px;
}

.div_1{
margin-left: 50px;
margin-top: 50px;
position: absolute;
}


.card {
    background-color: #ffffff80;
  padding: 30px;
  border-radius: 10%;
  box-shadow: 1px 1px 10px 3px #000000
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #0d0d0d
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 18px;
  transition: all .3s ease-out;
  border-radius: 0px;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid #000000;
}

.label-float label{
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 15px;
  margin-top: 0;
  color: #000000
}

#btn{
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 20px 20px 20px 20px;
  width: 100px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

#btn1{
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px; 
  margin-left: 10px;
  border-radius: 20px 20px 20px 20px;
  width: 130px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

.justify-center{
  display: flex;
  justify-content: center;
}

hr{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

p{
  color: #000000;
  font-size: 14pt;
  text-align: center;
}

a{
  color: #101110;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover{
  color:  #535553;
}

.fa-eye{
  position: absolute;
  top: 25px;
  right: 5px;
  cursor: pointer;
  color: #000000;
  width: 25px;
}

.fa-eye-slash{
  position: absolute;
  top: 25px;
  right: 5px;
  cursor: pointer;
  color: #000000;
  width: 25px;
}


 #msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
	text-align: center;
	color: #00bb00;
	background-color: #bbffbe;
	padding: 10px;
	border-radius: 4px;
	display: none;
  }