@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
    background-size: cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}





.myH2 {
    text-align: center;
    font-size: 4rem;
}

.myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}

@media all and (max-width:700px) {
    .myP {
        padding: 2%;
    }
}

.carousel-inner>.carousel-item>img {
    width: 700px;
    height: 600px;
}

.modal-backdrop {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    background-color: #000;
}

.close {
    float: right;
    font-size: 5rem;
    font-weight: 400;
    line-height: 0.5;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

label {
    display: inline-block;
    margin-bottom: 1.5rem;
}

.nav {
    width: 100%;
    height: 65px;
    position: absolute;
    line-height: 30px;
    text-align: center;
}

label {
    display: table-cell;
    margin-bottom: 1.5rem;
}

label {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.small,
small {
    font-size: 100%;
    font-weight: 600;
}

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 60px;
    text-align: center;
}

body {
    background-color: #dee2e6e3;
}

.text-card {
    height: 400px;
    padding: 15px;
}

.center-card {
    width: 100vw;
    height: 530px;
    margin: -50px -20px;
    display: flex;
    justify-content: center;
    align-items: center;
   padding-left: 75px;
}

.card-box{

    width: 100vw;
    max-height: 400px;
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
    align-items: center ;
    box-sizing: border-box;
}

.carousel-inner1>.carousel-item>img {
    width: 300px;
    height: 200px;
}

.title-adote{
    height: 80px;
    width: 100%;
    margin: 25px;
    padding-top: 35px;
}
@media (max-width:1250px) {
    /* .text-card{
        display: block;
    } */
    .center-card{
        flex-direction: column;
        height: 100%;
        width: 100%;
        /* bottom: 20px, 0px, 20px, 0px ; */
    }
    .card{
        margin-bottom: 15px;
    }
}
.button {
    align-items: center;
}
 
    #formato {
      background-color: #fff;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 50px;
      padding-bottom: 20px;
      border-radius: 5px
    }
    #tamanho_botao{
        line-height: 25px;
        font-size: 200%;
    }
    #search-form {
        text-align: center;
        margin-top: 30px;
    }
    #search-input {
        width: 300px;
        height: 30px;
        font-size: 16px;
        border-radius: 5px;
    }
    #search-button {
        height: 30px;
        font-size: 16px;
        border-radius: 5px;
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .filter-label {
        margin-right: 10px;
        font-weight: bold;
        border-radius: 5px;
    }

    .filter-select {
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
    }

    .animal {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f5f5f5;
    }


    .card {
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 30px;
        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        width: 30rem;
    }
    .card-img-top {
    border-radius: 20px 20px 20px 20px;
    width: 28rem;
    }
    .card-text {
        font-size: 15px;
    }
    .dados {
        text-align: center;
        padding: 1%;
    }
    .card-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .card-img-top1 {
        border-radius: 20px 20px 0px 0px;
        width: 28rem;
        }
        .card-container1 {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }
        .card-text1 {
            font-size: 15px;
            margin: -6px;
            margin-top: 5%;
        }
        input[type="text"],
        select,
        textarea {
          width: 100%;
          padding: 8px;
          border: 1px solid #585858f2;
          border-radius: 4px;
          box-sizing: border-box;
          margin-bottom: 10px;
        
        }input[type="email"],
        select,
        textarea {
          width: 100%;
          padding: 8px;
          border: 1px solid #585858f2;
          border-radius: 4px;
          box-sizing: border-box;
          margin-bottom: 10px;
        }
        input[type="tel"],
        select,
        textarea {
          width: 100%;
          padding: 8px;
          border: 1px solid #585858f2;
          border-radius: 4px;
          box-sizing: border-box;
          margin-bottom: 10px;
        }
        input[type="number"],
        select,
        textarea {
          width: 100%;
          padding: 8px;
          border: 1px solid #585858f2;
          border-radius: 4px;
          box-sizing: border-box;
          margin-bottom: 10px;
        }
        
        
        textarea {
          height: 100px;
        }
        
        input[type="submit"] {
          background-color: #4CAF50;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type="submit"]:hover {
          background-color: #45a049;
        }
        #email {
            font-size: 15px;
        }
        #nome-organizacao {
            font-size: 15px;
        }
        #cpf {
            font-size: 15px;
        }
        #logradouro {
            font-size: 15px;
        }
        #bairro {
            font-size: 15px;
        }
        #cidade {
            font-size: 15px;
        }
        #cep {
            font-size: 15px;
        }
        #telefone {
            font-size: 15px;
        }
        #responsavel {
            font-size: 15px;
        }
        #formato {
            background-color: #fff;
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 50px;
            padding-bottom: 20px;
            border-radius: 5px;
        }
        .Parcerias {
            font-size: 40px;
            text-align: center;
            background-color:rgba(0, 252, 4, 0.701);
            padding: 4%;
            height: 30%;
            width: 100%;
            margin: 0 auto;
          }